*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container{
  background: gray;
  width: 350px;
  height: 600px;
}

.todo-container h1{
  color: white;
  text-align: center;
  margin: 1rem;
}

form{
  /* background: red; */
  margin: 1em;
  display: flex;
  gap: 1em;
  justify-content: space-around;
}

form input,button{
  padding: 0.7em;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

form input{
  padding: 0.7em;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.todo-list{
  background-color: white;
  margin: 0.6em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding-right: 4px;
}

.todo{
  border: none;
  padding: 0.7em;
  width: 100%;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 12px;
}

.icons{
  display: flex;
}

.green{
  color: green;
}